<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>WebSocket POC</title>
  </head>
  <body>
    <div class="container" id="app">
      <p class="mt-5">
        <button class="btn btn-success" v-on:click="this.connect">Connect</button>
        <button class="btn btn-primary" v-on:click="this.send">Send</button>
        <button class="btn btn-danger" v-on:click="this.disconnect">Disconnect</button>
      </p>

      <div id="composer" class="mb-3">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <select class="form-control">
              <option value="+61491570156">+61491570156</option>
              <option value="+61491570157">+61491570157</option>
              <option value="+61491570158">+61491570158</option>
              <option value="+61491570159">+61491570159</option>
              <option value="+61491570160">+61491570160</option>
            </select>
          </div>
          <div class="col-auto">
            <input class="form-control" type="text" v-on:change="this.typing" />
          </div>
          <div class="col-auto">
            <span class="form-text" v-if="isTyping">
              Adrian is typing...
            </span>
          </div>
        </div>
      </div>

      <pre>{{ messages.join('\n') }}</pre>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          endpoint: '',
          messages: [],
          websocket: undefined,
          isTyping: false
        },
        methods: {
          showTypingIndicator() {
            this.isTyping = true;
          },
          hideTypingIndicator() {
            this.isTyping = false;
          },
          connect() {
            /*
             * See https://html.spec.whatwg.org/multipage/indices.html#events-2
             * for details around each WebSocket event type.
             */

            // WebSocket sends a message to API Gateway on creation that gets
            // routed to the '$connect' route
            const websocket = this.websocket = new WebSocket(this.endpoint);

            websocket.onclose = ({ wasClean, code, reason }) => {
              this.messages.push(
                `onclose:   ${JSON.stringify({ wasClean, code, reason })}`);
            };

            websocket.onerror = error => {
              console.log(error);
              this.messages.push(
                'onerror:   An error has occurred. See console for details.'
              );
            };

            websocket.onmessage = ({ data }) => {
              this.messages.push(`onmessage: ${data}`);

              let obj = JSON.parse(data);
              if (obj.action === 'typing') {
                this.showTypingIndicator();

                setTimeout(() => {
                  this.hideTypingIndicator();
                }, 2000);
              }
            };

            websocket.onopen = () => {
              this.messages.push('onopen:    Connected successfully.');
            };
          },
          disconnect() {
            // WebSocket sends a message to API Gateway that gets routed to the
            // '$disconnect' route.
            this.messages.push('client:    Closing the connection.');
            this.websocket.close();
          },
          send() {
            this.messages.push('client:    Sending a message.');

            this.websocket.send(
              JSON.stringify({ action: 'send', data: { message: 'Hello from client.' } })
            );
          },
          typing() {
            let conversationId = '+61491570156';

            this.messages.push(`client:    Typing a message to ${conversationId}.`);

            this.websocket.send(
              JSON.stringify({ action: 'typing', data: { conversationId: conversationId } })
            );
          },
        },

        // Discover what the WebSocket endpoint is. This implementation is for
        // demo purposes only and should be done differently in production.
        async beforeCreate() {
          const response = await fetch('./data.json');
          const { ServiceEndpointWebsocket } = await response.json();
          this.endpoint = ServiceEndpointWebsocket;
        }
      })
    </script>
  </body>
</html>
